@font-face{
    font-family: 'public-sans' ;
    src: url(../fonts/PublicSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family:'DMSerifdisplay' ;
    src: url(../fonts/DMSerifDisplay-Regular.ttf);
}