.container{
    max-width: 1140px!important;
    padding: 0 30px!important;
    margin: 0 auto!important;
}
.container-card{
    max-width: 800px;
    margin: 0 auto;
}
.container-product{
    max-width: 800px;
    margin: 0 auto;
}