.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__link{
        &__logo{
            display: flex;
        }
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__text{
            padding: 5px 10px;
            margin-right: 450px;
            display: flex;
            justify-content: space-between;
            list-style: none;
            &__list{
                padding: 0 10px;

               &__link{
                color: #36536B;
                font-size: 15px;
                text-decoration: none;
                font-family: 'public-sans' ;
                &:active{
                    color: #444;
                    cursor: pointer;
                }
                &:hover{
                    color: #777;
                    cursor: pointer;
               }
            }
            }
        } 
        &__btn{
            background-color: #BA4270;
            color:#FBFCFE;
            padding: 5px 10px;
            border-radius: 24px;
            border: none;
            &:active{
                background-color: #f34889;
                cursor: pointer;
            }
            &:hover{
                cursor: pointer;
                background-color: #da6da7e8;
            }
        }    
    }
   
    
}
.toggle{
    width: 28px;
    height: 24px;
    // background-color: #2D314D;
    display: none;
}
    
@media only screen and (max-width: 900px) {
    .navbar{
        position: relative;
        height: 10vh;
        padding-top:15px!important;
        padding-bottom:15px!important;
        .toggle{
            &:hover{
                cursor: pointer;
            }
            position: relative;
            @include displayFlexSetter(space-evenly, center);
            flex-direction: column;
            &::after, &::before{
                content: "";
            }
            &::after, &::before, &>span{
                width: 100%;
                height: 2px;
                z-index: 4;
                background-color: black;
            }

            &--active{
                &::after, &::before{
                    position: absolute;
                }
                &::after{
                    top: 50%;
                    background-color: white;
                    transform: translateY(-50%) rotate(45deg);
                }
                &>span{
                    opacity: 0;
                }
                &::before{
                    bottom: 50%;
                    background-color: white;
                    transform: translateY(50%)  rotate(-45deg);
                }
            }
        }
        .navbar__item{
            transition: all .5s ease-in-out;
            position: absolute;
            flex-direction: column;
            background: black;
            z-index: 2;
            top: 0;
            right: 0;
            width: 75%;
            height: 100vh;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
            &__text{
                margin-top: 0;
                color: white;
                border-radius: 4px;
                flex-direction: column;
                width: 75%;
                align-items: center;
                &__list{
                    padding-top: 15px;
                    // margin: auto;
                    // justify-content: center;
                    &__link{
                        color: white;
                    }
                }
            }

            &--active{
                visibility: visible;
                opacity: 1;
            }
        }
    }
} 
   


