.main-footer{
    display: flex;
    justify-content: space-around;
    &__item{
        max-width: 250px;
        padding: 10px;
        line-height: 25px;
        &::before{
            content: "";
            flex-grow: 1;
            width: 100px;
            height: 100px;
            background: url(../image/);
        }
        h2{
            color:#36536B ;
            padding: 12px 0;
            font-size: 25px;
            font-weight: 400;
        }
        p{
            color: #6C8294;
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-footer{
        @include displayFlexSetter(space-between, center);
        flex-direction: column;
        &__item{
            width: 70%;
        }
    }
}