.product{
    display: flex;
    align-items: center;
    &__item{
        margin-right: 100px;
        max-width: 300px;
        &__text{
            font-size: 40px;
            color: #36536B;
            font-weight: 400;
        }
        &__paragrf{
            color: #6C8294;
        }
    }
    &__img{
        display: flex;
        width: 300px;
        &__iphone1{
            max-width: 100%;
        }
        &__iphone2{
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 900px) {
    .product{
        @include displayFlexSetter(space-between, center);
        flex-direction: column-reverse;
        text-align: center;
        padding-top: 0px;
        padding-bottom: 40px;
        &__item{
            width: 100%;
        }
        &__img{
            @include displayFlexSetter(center, center);
            width: 40%;
        }
    }
}